@model List<SerilogPoc.Models.Player>

<div class="container">
    <br/>
    @foreach (var f in Model)
    {
        <div class="row">
            <div class="col-md-3">@f.Name :</div>
            <div class="col-md-5"><a href="@Url.Action("Player", new {alias = f.Alias})">@f.Alias</a>
            </div>
        </div>
    }

</div>    
